.App {
  text-align: center;
  background-color: #c42e2e;
}

@media screen and (orientation: landscape) {
  
  .App-logo {
    min-height: auto;
    min-width: 5ex;
    max-height: auto;
    max-width: 25ex;
    margin: 1vh;
    border-style: solid;
    border-color: #b95757;
    border-width: 5px;
    border-radius: 10px;
  }
  
  .App-header {
    text-align: left;
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 35ex;
  }
  
  .TransBox {
    color: #2aa73a;
    text-decoration: wavy;
    font-size: small;
    font-weight: bolder;
    background-color: aliceblue;
    width: 16.5em;
    margin-left: 10px;
    padding-left: 3px;
    border-radius: 3px;
  }
  
  body {
    height: 1080px;
  }
  
  .webTitle {
    color: #aecc5a;
    font-size: 2em;
  }
  
  .info {
    color: #61bea2;
    font-weight: 800;
    font-size: 0.875em;
  }

  .news {
    color: #aecc5a;
    font-weight: 800;
    font-size: 2em;
  }
}

@media screen and (orientation: portrait) {
  
  .App-logo {
    width: auto;
    min-height: 30%;
    min-width: auto;
    max-height: 60%;
    max-width: auto;
    margin: 1vh;
    border-style: solid;
    border-color: #b95757;
    border-width: 5px;
    border-radius: 10px;
  }
  
  .App-header {
    text-align: left;
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25ex;
  }
  
  .TransBox {
    color: #2aa73a;
    text-decoration: wavy;
    font-size: 0.75em;
    font-weight: bolder;
    background-color: aliceblue;
    width: 16.5em;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  body {
    height: 1080px;
  }
  
  .webTitle {
    color: #aecc5a;
    font-size: 2em;
  }
  
  .info {
    color: #61bea2;
    font-weight: 800;
    font-size: 0.875em;
  }

  .news {
    color: #aecc5a;
    font-weight: 800;
    font-size: 2em;
  }
}
